@using Microsoft.AspNetCore.Identity

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Garderie</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    @RenderSection("Header", required: false)
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="hamburger is-closed" data-toggle="offcanvas">
                    <span class="hamb-top"></span>
                    <span class="hamb-middle"></span>
                    <span class="hamb-bottom"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav"></ul>
                @await Html.PartialAsync("_LoginPartial")
            </div>
        </div>
    </nav>
    <div id="wrapper">
        <div id="overlay"></div>

        <nav class="navbar navbar-default navbar-fixed-top" id="sidebar-wrapper" role="navigation">
            <ul class="nav sidebar-nav">
                <li class="sidebar-brand m-auto">
                    <a asp-area="" asp-controller="Home" asp-action="Index" class="text-center">
                        <img alt="Brand" class="img-responsive" src="~/images/icons8-finn.png">
                    </a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Index">Accueil</a>
                </li>
                @if (User.IsInRole("Directeur") || User.IsInRole("SuperUser"))
                {
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Inscription <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li class="dropdown-header d-none"></li>
                            <li><a asp-area="" asp-controller="Enfants" asp-action="Create">Nouveau</a></li>
                            <li><a asp-area="" asp-controller="Enfants" asp-action="Index">Réinscription</a></li>
                        </ul>
                    </li>
                }
                @if (User.IsInRole("Directeur") || User.IsInRole("SuperUser") || User.IsInRole("Puericultrice"))
                {
                    <li>
                        <a asp-area="" asp-controller="Employes" asp-action="Index">Planning</a>
                    </li>
                }
                @if (User.IsInRole("Directeur") || User.IsInRole("SuperUser") || User.IsInRole("Puericultrice"))
                {
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Inventaire<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li class="dropdown-header d-none"></li>
                            <li><a asp-area="" asp-controller="Inventaires" asp-action="Index">Articles</a></li>
                            <li><a asp-area="" asp-controller="CategoriesArticle" asp-action="Index">Categories</a></li>
                        </ul>
                    </li>
                }
                @if (User.IsInRole("Directeur") || User.IsInRole("SuperUser") || User.IsInRole("Parent"))
                {
                    <li>
                        <a asp-area="" asp-controller="Factures" asp-action="Index">Factures</a>
                    </li>
                }
            </ul>
        </nav>

        <partial name="_CookieConsentPartial" />

        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; 2018 - Garderie</p>
            </footer>
        </div>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
