@model Garderie.ViewModels.EmployeViewModels.EditEmployeViewModel

@{
    ViewData["Title"] = "Edition employé";
}

<h2>Edition</h2>

<h4>Employe</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="EmployeId" />
            <div class="form-group">
                <label asp-for="Nom" class="control-label"></label>
                <input asp-for="Nom" class="form-control" />
                <span asp-validation-for="Nom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prenom" class="control-label"></label>
                <input asp-for="Prenom" class="form-control" />
                <span asp-validation-for="Prenom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sexe" class="control-label"></label>
                <div class="form-check">
                    <input type="radio" asp-for="Sexe" name="Sexe" id="SexeRadio1" value="masculin" checked />
                    <label class="form-check-label" for="SexeRadio1">
                        Masculin
                    </label>
                </div>
                <div class="form-check">
                    <input type="radio" asp-for="Sexe" name="Sexe" id="SexeRadio2" value="feminin" />
                    <label class="form-check-label" for="SexeRadio2">
                        Féminin
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="DateNaissance" class="control-label"></label>
                <input asp-for="DateNaissance" class="form-control" />
                <span asp-validation-for="DateNaissance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumSecu" class="control-label"></label>
                <input asp-for="NumSecu" class="form-control" />
                <span asp-validation-for="NumSecu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Poste" class="control-label"></label>
                <input asp-for="Poste" class="form-control" />
                <span asp-validation-for="Poste" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telephone" class="control-label"></label>
                <input asp-for="Telephone" class="form-control" />
                <span asp-validation-for="Telephone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Externe" class="control-label"></label>
                <div class="form-check">
                    <input type="radio" asp-for="Externe" name="Externe" id="ExterneRadio1" value="0" checked />
                    <label class="form-check-label" for="ExterneRadio1">
                        Non
                    </label>
                </div>
                <div class="form-check">
                    <input type="radio" asp-for="Externe" name="Externe" id="ExterneRadio2" value="1" />
                    <label class="form-check-label" for="ExterneRadio2">
                        Oui
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
