@model Garderie.ViewModels.GroupeViewModels.CreateGroupeViewModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Groupe</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Descriptif" class="control-label"></label>
                <input asp-for="Descriptif" class="form-control" />
                <span asp-validation-for="Descriptif" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Referant" class="control-label"></label>
                <select asp-for="Referant" class ="form-control" asp-items=Model.Referants></select>
            </div>
            <div class="form-group">
                <label asp-for="TypeGroupe" class="control-label"></label>
                <select asp-for="TypeGroupe" class ="form-control" asp-items=Model.TypesGroupe></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
