@model Garderie.Models.Personne

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Personne</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PersonneId" />
            <div class="form-group">
                <label asp-for="Nom" class="control-label"></label>
                <input asp-for="Nom" class="form-control" />
                <span asp-validation-for="Nom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prenom" class="control-label"></label>
                <input asp-for="Prenom" class="form-control" />
                <span asp-validation-for="Prenom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sexe" class="control-label"></label>
                <input asp-for="Sexe" class="form-control" />
                <span asp-validation-for="Sexe" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateNaissance" class="control-label"></label>
                <input asp-for="DateNaissance" class="form-control" />
                <span asp-validation-for="DateNaissance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumSecu" class="control-label"></label>
                <input asp-for="NumSecu" class="form-control" />
                <span asp-validation-for="NumSecu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Visible" class="control-label"></label>
                <input asp-for="Visible" class="form-control" />
                <span asp-validation-for="Visible" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Discriminator" class="control-label"></label>
                <input asp-for="Discriminator" class="form-control" />
                <span asp-validation-for="Discriminator" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
