@model Garderie.Models.Horaire

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Horaire</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="HoraireId" class="control-label"></label>
                <input asp-for="HoraireId" class="form-control" />
                <span asp-validation-for="HoraireId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HeureDebut" class="control-label"></label>
                <input asp-for="HeureDebut" class="form-control" />
                <span asp-validation-for="HeureDebut" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HeureFin" class="control-label"></label>
                <input asp-for="HeureFin" class="form-control" />
                <span asp-validation-for="HeureFin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CalendrierId" class="control-label"></label>
                <select asp-for="CalendrierId" class ="form-control" asp-items="ViewBag.CalendrierId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Visible" class="control-label"></label>
                <input asp-for="Visible" class="form-control" />
                <span asp-validation-for="Visible" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmployeId" class="control-label"></label>
                <select asp-for="EmployeId" class ="form-control" asp-items="ViewBag.EmployeId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
