@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 style="text-align:center;">TravelExpress.com</h1>
    <p style="text-align:center;" class="lead">TravelExpress met en relation des conducteurs qui voyagent avec des places libres avec des passagers recherchant un trajet</p>
    <div class="row">
        <img class="col-md-10 col-md-offset-1 " src="~/Content/Icones_Preferences/covoiturage.png" />
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Vous êtes passager ?</h2>
        <p>
            Trouvez dès maintenant un conducteur effectuant le même trajet que vous, afin de voyager avec lui à prix réduit.
        </p>
        <p><a class="btn btn-default" href="/Trajets">Rechercher un trajet &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Vous êtes conducteur ?</h2>
        <p>Postez dès maintenant une annonce afin de trouver des passagers qui participeront aux frais liés au trajet.</p>
        <p><a class="btn btn-default" href="/Trajets/Create">Poster une annonce &raquo;</a></p>
    </div>

</div>