@model Garderie.Models.DossierInscription

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>DossierInscription</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="DossierId" />
            <div class="form-group">
                <label asp-for="DateInscription" class="control-label"></label>
                <input asp-for="DateInscription" class="form-control" />
                <span asp-validation-for="DateInscription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NbDemiJourneesInscrit" class="control-label"></label>
                <input asp-for="NbDemiJourneesInscrit" class="form-control" />
                <span asp-validation-for="NbDemiJourneesInscrit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NbDemiJourneesAbsent" class="control-label"></label>
                <input asp-for="NbDemiJourneesAbsent" class="form-control" />
                <span asp-validation-for="NbDemiJourneesAbsent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MedecinTraitant" class="control-label"></label>
                <input asp-for="MedecinTraitant" class="form-control" />
                <span asp-validation-for="MedecinTraitant" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EnfantId" class="control-label"></label>
                <select asp-for="EnfantId" class="form-control" asp-items="ViewBag.EnfantId"></select>
                <span asp-validation-for="EnfantId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Visible" class="control-label"></label>
                <input asp-for="Visible" class="form-control" />
                <span asp-validation-for="Visible" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
